<%
	id ||= random_dom_id
	
	patient_search_opts = nil
	class <<patient_search_opts
		include ApplicationHelper
		def search_url
			"/patient/find"
		end
		def click_url(item)
			"/patient/view/#{item.patient_id}"
		end
	end
%>

<script type="text/javascript">
	var options = {
		clickUrl: function(rowNum, item) {
			return "/patient/view/" + item.patient_id;
		},
		icon: function(rowNum, item) {
			return '<img src="/images/' + (item.gender == 'M' ? 'male' : 'female') + '.png"/>';
		},
		title: function(rowNum, item) {
			return item.person_name;
		},
		caption: function(rowNum, item) {
			return item.age;
		},
		description: function(rowNum, item) {
			var ret = '';
			for (var i = 0; i < item.identifiers.length; ++i)
				ret += item.identifiers[i] + '<br/>';
			return ret;
		}
	};

	$(document).ready(function() {
		$('#<%= id %>_form').submit(function() {
			$.getJSON("<%= patient_search_opts.search_url %>",
					{ query: $('#<%= id %>_query').val() },
					<%= id %>_results_results_callback(options)
			);
			return false;
		})
	});
</script>

<form id="<%= id %>_form">
	ID or Name:
	<input id="<%= id %>_query" type="text" size="40"/>
	<input type="submit" id="<%= id %>_button" value="Search"/>
</form>

<br/>

<%= render :partial => "widgets/vertical_panel",
        :locals => { :id => "#{id}_results", :options => patient_search_opts } %>